/KEVIN Q USB/Miguel/Wip1/miguel scratch/build/
/KEVIN Q USB/Miguel/Wip1/miguel scratch/nbproject/private/
/KEVIN Q USB/Miguel/Wip2/ScratchWip2/nbproject/private/
/KEVIN Q USB/NetBeansProjects/QOW/build/
/KEVIN Q USB/NetBeansProjects/QOW/nbproject/private/
/KEVIN Q USB/NetBeansProjects/testing things/nbproject/private/
/KEVIN Q USB/Scratch 2/build/
/KEVIN Q USB/Scratch 2/nbproject/private/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/Journals/Ashton's Journal/Doge Image/build/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/Journals/Ashton's Journal/Doge Image/nbproject/private/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/QWO Game/build/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/QWO Game/nbproject/private/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/scratches/Ashton_Wagner_Scratch/nbproject/private/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/scratches/kevin scratch/build/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/scratches/kevin scratch/nbproject/private/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/scratches/miguel scratch/build/
/KEVIN Q USB/W.I.P. Kevin Ashton Miguel/wip 1/scratches/miguel scratch/nbproject/private/
/KEVIN Q USB/example code/PG-4UI-Game-master/nbproject/private/